

.main-container {
  margin: 50px;
  padding: 50px;
  background-color: transparent;
  backdrop-filter: blur(100px);
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  color: #fff;
}

.main-container h1 {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
}

.upper-main {
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
}

.upper-left-main img {
  width: 500px;
  margin-right: 50px;
  border-start-start-radius: 15px;
  border-end-start-radius: 15px;
}

.upper-right-main {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.duration p {
  font-weight: bold;
  margin-top: 15px;
}

.duration ul {
  margin: 0;
  padding: 0;
}
.duration ul li {
  display: flex;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 15px;
  padding: 0;
}

.duration i{
  padding-right: 10px;
  font-size: 30px;
  margin-top: 10px;
}

.project-icon p {
  font-weight: bold;
  font-size: 24px;
}

.project-icon ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-icon ul li {
  margin-right: 20px;
  padding: 0;
}
.project-icon i{
  font-size: 40px;
  margin-top: 10px;
}