<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Testimonial  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="./images/logo.png">
</head>
<body>
 
<style> 
  @import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
  body {
  margin: 0;
  background: url(/images/background.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

  </style>
<body>
  <!-----navbar------------------------------------------->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid me-auto mb-lg-0">
      <a class="navbar-brand me-4" href="#">
        <img src="/images/logo1 p.png" alt="logo1" style="height: 4rem;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-2">
            <a class="nav-link"  href="/">Home</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link "  href="/add-blog">Blog</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link active fw-bold" href="/testimoni">Testimonial</a>
          </li>
        </ul>

        <div class="d-flex">
          <a class="btn btn-secondary" href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <!--end-navbar-->

     <!-- start testimoni -->
        <div class="my-4 grid text-center">
          <h1 >My Testimonial</h1>
          <div class="container-ratting">
            <h2> Ratting By star</h2>
            <div class="ratting">
              <button class="btn-rate" onclick="rattingAll()"><i class="fa-solid fa-star"></i> All </button>
              <button class="btn-rate" onclick="selectRatting(1)">1<i class="fa-solid fa-star"></i></button>
              <button class="btn-rate" onclick="selectRatting(2)">2<i class="fa-solid fa-star"></i></button>
              <button class="btn-rate" onclick="selectRatting(3)">3<i class="fa-solid fa-star"></i></button>
              <button class="btn-rate" onclick="selectRatting(4)">4<i class="fa-solid fa-star"></i></button>
              <button class="btn-rate" onclick="selectRatting(5)">5<i class="fa-solid fa-star"></i></button>
            </div>
          </div>
          <section class="testimonial" id="testimonial">
            {{!-- <div class="testimoni">
              <img src="/images/wisuda.jpeg" alt="testi" class="profile-testi">
              <p class="quote"> "keren sekali!" </p>
              <p class="author"> -Fajar Subakti</p>
              <p class="ratting-5"><i class="fa-solid fa-star">5 </i>
               </p>
            </div> --}}
          </section>
          <footer class="text-center border-top border-dark my-0 mt-5 text-warning">
            <p> Create by A Putra Ridwan Susilo Fullstack Developer</p>
          </footer>
    </body>
    <script src="/js/async.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"> </script>
</html>